
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
@Html.ActionLink("Мой компьютер", "Index", "Home")
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
