@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная страница</title>
</head>
<body>
    @* здесь для локальных дисков *@
    <div id="container">
        <table border="1">
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb-50Mb</th>
                <th>More 100Mb</th>
            </tr>
            <tr id="table"></tr><!--для ячеек таблицы-->
        </table>
        <!------------------------------------------------------------------------------------------------>
        <hr />
        <text>Текущая папка: </text><text><b id="currentPaht"></b></text><!--для текушего пути-->
        <!------------------------------------------------------------------------------------------------>
        <hr />
        <text>Перейти в  на уровень вверх: </text><div id="backStep"></div><!--для текушего пути-->
        <!------------------------------------------------------------------------------------------------>
        <hr />
        <div id="locDisc"></div><!--для локальных дисков-->
        <!------------------------------------------------------------------------------------------------>
        <hr />
        <div id="folders"></div><!--для папок-->
        <!------------------------------------------------------------------------------------------------>
        <hr />
        <div id="files"></div><!--для файлов-->
    </div>
    <!------------------------------------------------------------------------------------------------>
    <hr />
    @* подключение файлов в конце *@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/MyJavaScript.js"></script>
</body>
</html>
